<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block head %}
    {% endblock %}

  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
          <ul class="nav navbar-nav navbar-right">
            <li>

              {% if current_user.username != 'Guest' %}
                <ul class="nav navbar-nav navbar-left">
                  <li>
                    <a href="mailto:%20?subject=Check out my wishlist!&body=Hi, friend! %0D %0D You can look at my wishlists and sign up to make your own at http://floating-hamlet-7464.herokuapp.com/user/{{current_user.username}}. %0D %0D Yours truly, %0D {{current_user.display_name}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                  </li>
                </ul>
              {% endif %}

              <form class="navbar-form navbar-right" role="search" action='' method='post'>
                {{ search.hidden_tag() }}
                <div class="form-group">
                  {{search.keyword(type="text",class="form-control",placeholder="Search")}}
                </div>
                <button type="submit" class='btn btn-default'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </li>
            <li>
              {% if current_user.username != 'Guest' %}
                <a href="/logout">Logout</a>
              {% else %}
                <a href="/login">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block header %}
    {% endblock %}

    <div class="container maincontainer">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>