{% extends "base.html" %}

{% block header %}
	<div class="jumbotron">
		<img src="{{ url_for('static', filename='christmas.jpg') }}" class="img-responsive">
        <h1 class="myTitle">Are you Naughty or Nice?</h1>
    </div>
{% endblock %}

{% block content %}
	<h3> Sign in to make your wishlist</h3>
	{% if not validuser %}
		<p>Incorrect username or password</p>
	{% endif %}
	<form action='' method='post' name='login' class='form-horizontal'>
		{{ form.hidden_tag() }}
		<div class="form-group">
			<div class='col-sm-3'>
				{{ form.username(class='form-control',id='username',placeholder="Username") }}
			</div>
		</div>
		<div class="form-group">
			<div class='col-sm-3'>
				{{ form.password(id='password', type='password',class='form-control',placeholder="Password") }}
			</div>
		</div>

		<div class="checkbox">
		    <label>
		    	{{ form.remember }}Remember Me
			</label>
		</div>

		<button type="submit" class='btn btn-default'>Submit</button>
		<a href="/signup">Sign up</a>
	</form>
{% endblock %}