{% extends "base.html" %}

{% block head %}
{% if profileuser.naughty %}
<link href="/static/css/bootstrapnaughty.min.css" rel="stylesheet" media="screen">
{% else %}
<link href="/static/css/bootstrapnice.min.css" rel="stylesheet" media="screen">
{% endif %}
{% endblock %}

{% block content %}

	
	{% if curruser == profileuser.username %}
		{% if listdict %}
			<h3>Here are your lists, {{ curruserdisplay }} </h3>
		{% else %}
			<h3>You have no lists, {{ curruserdisplay }} :( </h3>
			<h4>Why not make one?</h4>
		{% endif %}
	{% else %}
		{% if profileuserdisplay != 'Guest' %}
			{% if listdict %}
				<h3>Here are {{ profileuserdisplay }}'s lists </h3>
			{% else %}
				<h3>{{profileuserdisplay}} has no lists :(</h3>
			{% endif %}
			{% else %}
				<h3> Oops! User not found </h3>
			{% endif %}
	{% endif %}

	{% for list in listdict %}
		<ul class="list-group">
			<li class="list-group-item">
				<h4 class="list-group-item-heading">{{ listdict[list][0] }}</h4>
			{% if curruser == profileuser.username %}
			<span class="btn-group pull-right">
				<form role="form" action="/deletelist/{{ list }}" method='post'>
					<button type="submit" class="btn btn-default btn-no-border btn-sm pull-right">Delete <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
				</form>
			</span>
			{% else %}
			<span class="btn-group pull-right">
				<form role="form" action="/copy/{{list}}" method='post'>
					<button type="submit" class="btn btn-default btn-no-border btn-sm pull-right">Copy
			  		<span class="fa fa-files-o" aria-hidden="true"></span>
				</button>
				</form>
			</span>
			{% endif %}
			</li>
			
			{% if listdict[list][1] %}
				{% for item in listdict[list][1] %}
					<li class="list-group-item">

						{% if item[1] %}
							<a href="http://www.{{item[1]}}">{{ item[0] }}</a>
						{% else %}
							{{ item[0] }}
						{% endif %}

						{% if item[3] %}
							| Price: {{item[3]}}
						{% endif %}

						{% if curruser == profileuser.username %}
						<span class="btn-group pull-right">
							<form role="form" action="/deleteitem/{{list}}/{{item[2]}}" method='post' name='delItem'>
								<button type="submit" class="btn btn-default btn-no-border btn-sm pull-right">
						 			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
							</form>
						</span>
						{% endif %}
					</li>

				{% endfor %}

			{% else %}
				<li class="list-group-item"> No items in {{ listdict[list][0] }} :( </li>
			{% endif %}
		</ul>
	{% endfor %}


	{% if curruser == profileuser.username %}

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#foot">
          	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="foot">
          <ul class="nav navbar-nav navbar-right">
          	<li>
			  <form role="form" action='' method='post' name='newlist' class='form-inline pull-left'>
				{{ newlist.hidden_tag() }}
				<label for='newlist' class='control-label'><h5>Add list:</h5></label>
				<div class='form-group'>
						{{ newlist.name(class='form-control',id='newlist',placeholder="New list name") }}
				</div>
				<div class="form-group" >
				<button type="submit" class='btn btn-default inline'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
				</div>
			  </form>
          	</li>
            <li>

            	{% if listdict %}
				<form role="form" action='' method='post' name='newitem' class='form-inline pull-right'>
				{{ newitem.hidden_tag() }}
				<label for='newitem' class='control-label'><h5>Add item:</h5></label>

				<div class="form-group" >
					{{ newitem.name(class='form-control',id='newitem',placeholder="New item name") }}
				</div>

				<div class="form-group" >
					{{ newitem.price(class='form-control',id='price',placeholder="Price") }}
				</div>

				<label for='newitem' class='control-label'><h5>http://www.</h5></label>

				<div class="form-group" >
					{{ newitem.website(class='form-control',id='website',placeholder="example.com") }}
				</div>

				<div class="form-group" >
				    {{newitem.forList(class='form-control')}} 
				</div>

				<div class="form-group" >
				<button type="submit" class='btn btn-default btn-sm'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

				</div>
			</form>
			{% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
	{% endif %}

{% endblock %}