{% extends "base.html" %}

{% block head %}
	<div class="jumbotron">
        <h1 class="myTitle">We Wish You a Merry Christmas</h1>
    </div>
{% endblock %}

{% block content %}
	<h1> Sign Up </h1>
	<form action='' method='post' name='login' class='form-horizontal'>
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label for='username' class='col-sm-1 control-label'>Username:</label>
			<div class='col-sm-3'>
				{{ form.username(class='form-control',id='username') }}
			</div>
		</div>

		<div class="form-group">
			<label for='password' class='col-sm-1 control-label'>Password:</label>
			<div class='col-sm-3'>
				{{ form.password(id='password', type='password',class='form-control') }}
			</div>
		</div>

		<div class="form-group">
			<label for='retypepassword' class='col-sm-1 control-label'>Retype Password:</label>
			<div class='col-sm-3'>
				{{ form.retypepassword(id='retypepassword', type='password',class='form-control') }}
			</div>
		</div>

		<div class="form-group">
			<label for='displayname' class='col-sm-1 control-label'>Display Name:</label>
			<div class='col-sm-3'>
				{{ form.display_name(class='form-control',id='displayname') }}
			</div>
		</div>

		{% for subfield in form.naughtynice %}
		<tr>
			<td>{{subfield}}</td>
			<td{{subfield.label}}</td>
		</tr>
		{% endfor %}

		<button type="submit" class='btn btn-default'>Submit</button>
	</form>
{% endblock %}